<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyIOSApp3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75DF88251F4FFFEA00D53D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DF883E1F4FFFEA00D53D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75DF88491F4FFFEA00D53D4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
